<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Pokémon</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 30px;
        }

        iframe {
            border: none;
            width: 90%;
            height: 600px;
        }
    </style>
</head>
<body>
    <h1>Il Pokémon più forte</h1>

    <iframe
        src="http://localhost:3000/public/question/5c835a93-3954-4aca-9988-a2875d0b9eab"
        allowtransparency="true"
        loading="lazy">
    </iframe>
</body>
</html>

